.title{
  display: flex;
  justify-content: center;
}
h1{
  position: relative;
}
h1::before{
  content: '';
  position: absolute;
  left: 15px;
  bottom: -5px;
  width: 90%;
  margin: auto;
  height: 3px;
  border-radius: 3px;
  background-color: #10B981;
}
.cards{
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: center;
}
.card{
  width: 352px;
  height: 623px;
  border-radius: 4px;
  box-shadow: 0px 1px 2px 0px #0000000F;
  box-shadow: 0px 1px 3px 0px #0000001A;

}
.heading{
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 1px;
  margin-bottom: 8px;
  text-align: center;
}
.content{
  width: 302px;
  margin: 0;
  padding: 0px 20px;
  text-align: justify;
  color: #64748B;
  line-height: 24px;
}
.readmore{
  margin-top: 5px;
  color: #10B981;
  font-weight: 700;
  font-size: 13px;
  line-height: 14.95px;
  padding: 0px 20px;
  cursor: pointer;
}
.btn{
  display: block;
  width: 90%;
  margin: auto;
  color: #10B981;
  border: 1px solid #10B981;
  background-color: transparent;
  border-radius: 4px;
  padding: 7px;
  box-shadow: 0px 1px 2px 0px #0000000F;
  box-shadow: 0px 1px 3px 0px #0000001A;
  font-size: 13px;
  font-weight: 400;
  text-align: center;
}