form{
    width: 400px;
    margin: auto;
    
}
form>div{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
label{
    margin-bottom: 8px;
}
form>div>input{
    padding: 8px;
    font-size: 20px;
    margin-bottom: 10px;
    border: 2px solid black;
    border-radius: 10px;
}
form>button{
    display: block;
    margin: auto;
    padding: 8px;
    font-size: 20px;
    width: 150px;
    border: 1px solid black;
    border-radius: 10px;
    cursor: pointer;
}
