.items{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}
.item{
    width: 300px;
    text-align: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
h1{
    text-align: center;
}