*{
    font-family: sans-serif;
}
.dark-mode{
    background-color: #333;
    color: #f0f0f0;
    transition: all 0.5s linear;
}
.toggle-container{
    max-width: 1023px;
    display: flex;
    justify-content: flex-end;
}

button{
    background: transparent;
    border: none;
    cursor: pointer;
}
.title{
    text-align: center;
    color: dodgerblue;
    font-weight: normal;
}
.toggle-icon{
    font-size: 1.5rem;
}
.form-container>form{
    width: 90vw;
    max-width: 600px;
    margin: auto;  
    display: grid;
    grid-template-columns: 1fr auto;
}
form>input{
    width: 100%;
    font-size: 16px;
    padding: 6px 12px;
    border: 1px solid grey;
   box-sizing: border-box;
}
form>button{
    padding: 0px 10px;
    cursor: pointer;
    background-color: dodgerblue;
    color: white;
    border: transparent;
}
.image-container{
    max-width: 1023px;
    margin: 3rem auto;
    display: grid;
    gap: 1rem;
}
.img{
    width: 100%;
    display: block;
    object-fit: cover;
    height: 10rem;
    border-radius: 5px;
}
@media screen and (min-width:768px) {
    .image-container{
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (min-width:1000px) {
    .image-container{
        grid-template-columns: 1fr 1fr 1fr;
    }
}